@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  font-family: 'Poppins', sans-serif;
  margin:0;
}
h1{
  font-size:2.5em;
}
h2{
  font-size:1.5em;
}
h3{
  font-size:1.2em;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  height: 60px;
    line-height:60px;
}
section{
  position:relative;
  margin:0;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-left{
  display:inline-block;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;

}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
header{
  color:white;
  background:rgb(32, 101, 136) url('images/city-scape.svg') right top no-repeat;
    padding: 0px 0px 160px 0px;
 width:100%;
 background-size:cover;
}
.header-searchbar{
  height:40px;
  line-height:40px;
  padding:10px;
  margin-bottom: 60px;
  display:flex;
  justify-content:space-between;
}
.header-searchbar img{
  height:40px;
  display:inline-block;
}
.header-searchbar form{
    width: 80%;
    display: flex;
    justify-content: center;

}
.header-searchbar input[type="text"]{
width: 90%;
    background: rgb(31, 82, 111);
    border: solid 1px #346886;
    border-radius: 3px;
    padding-left: 20px;
    height: 40px;
  
}
.header-searchbar input[type="submit"]{
    width: 5%;
    background: rgb(31, 82, 111);
    border: solid 1px #346886;
    border-radius: 3px;
    height: 44px;
  
}
.header-searchbar p{
  margin:0;
}
.header-searchbar p::after{
 content: "";
    background: url(images/bear-logo.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    display: inline-block;
}
.header-searchbar a{
  color:white;
  text-decoration:none;
  display: inline-block;
    position: relative;
    top: -15px;
}

.content{
  max-width:1200px;
  width:100%;
  margin:0 auto;
  padding: 0px 30px; 
}
header .content p{
  width:60%;
  margin-bottom: 40px;
}
header .content a{
  background-color:rgb(240, 146, 51);
  border-radius:30px;
  height:20px;
  line-height:10px;
  text-decoration:none;
  padding:15px 30px;
  color:white;
}
#npmenterprise{
 background:rgb(39, 53, 71);
 color:white;
padding: 160px 0px;
 width:100%;
}
#npmenterprise ul{
  margin-bottom: 40px;
  line-height:40px;
}
#npmenterprise .content a{
  text-decoration:none;
  color:white;
}
#npmenterprise .content a.button{
  background-color:rgb(203, 56, 55);
  border-radius:30px;
  height:20px;
  line-height:10px;
  padding:15px 30px;
}
#npmenterprise img{
 display:inline-block;
 float:left;
 width:45%;
}
#npmenterprise .right-content{
 display:inline-block;
 float:right;
 width:49%;
}
.clearbox{
  clear: both;
}
#features{
 background:rgb(39, 53, 71) url('images/forklift.svg') right top no-repeat;
 background-size:cover;
 color:white;
 padding: 160px 0px;
 width:100%;
}
#features .content a{
  background-color:rgb(49, 68, 88);
  border-radius:30px;
  height:20px;
  line-height:10px;
  text-decoration:none;
  padding:15px 30px;
  color:white;
}
#features .content p{
  width:40%;
  margin-bottom: 40px;
}
#pricing{
  padding: 80px 0px;
  width:100%;
}
#pricing h2, #pricing h3{
  color:rgb(83, 88, 98);
  text-align:center;
}
#pricing img{
      margin: 0 auto;
    display: block;
}
#pricing p{
  color:rgb(135, 145, 156);
  text-align:center;
}
#pricing a{
  color:rgb(208, 74, 73);
  text-decoration:none;
}
#pricing .content{
  display:flex;
  justify-content:center;
  padding:0px;
}
#pricing .content div{
  width:33%;
  padding:20px;
}