@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  font-family: 'Poppins', sans-serif;
  margin:0;
}
h1{
  font-size:2.5em;
}
h2{
  font-size:1.5em;
}
h3{
  font-size:1.2em;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  height: 60px;
    line-height:60px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-left{
  display:inline-block;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;

}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
header{
  color:white;
  background:rgb(32, 101, 136) url('images/city-scape.svg') right top no-repeat;
    padding: 0px 0px 120px 0px;
 width:100%;
 background-size:cover;
}
.header-searchbar{
  height:60px;
  line-height:60px;
  padding:10px;
}
.header-searchbar img{
  height:60px;
  display:inline-block;
}

.content{
  max-width:1200px;
  width:100%;
  margin:0 auto;
  padding: 0px 30px; 
}
header .content p{
  width:60%;
  margin-bottom: 40px;
}
header .content a{
  background-color:rgb(240, 146, 51);
  border-radius:30px;
  height:20px;
  line-height:10px;
  text-decoration:none;
  padding:15px 30px;
  color:white;
}
#npmenterprise{
 background:rgb(39, 53, 71);
 color:white;
  padding: 90px 0px;
 display:inline-block;
 width:100%;
}
#npmenterprise ul{
  margin-bottom: 40px;
  line-height:40px;
}
#npmenterprise .content a{
  text-decoration:none;
  color:white;
}
#npmenterprise .content a.button{
  background-color:rgb(203, 56, 55);
  border-radius:30px;
  height:20px;
  line-height:10px;
  padding:15px 30px;
}
#npmenterprise img{
 display:inline-block;
 float:left;
 width:45%;
}
#npmenterprise .right-content{
 display:inline-block;
 float:right;
 width:49%;
}
.clearbox{
  clear: both;
}